@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 640px) {
  /* sm */
  :root {
    --background: #ff4d4d; /* 예시 색상 */
  }
}

@media (min-width: 768px) {
  /* md */
  :root {
    --background: #fca21c; /* 예시 색상 */
  }
}

@media (min-width: 1024px) {
  /* lg */
  :root {
    --background: #f0ff1d; /* 예시 색상 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
